body{
  display: block;
}

h1{
    text-align: center;
font-family: 'Lora', serif;
font-weight: bold;
}

h2{
    text-align: center;
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 500;
}